@import "base";

@mixin myinfo {
  width: 500px;
  height: 500px;
  padding: 2rem;
  border: 1px solid grey;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
  border-radius: 2em;
  background-color: white;
}

@mixin myprojects {
  width: 600px;
  height: 400px;
  padding: 2em;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
  background-color: #fff;
}

$color-one: red;
// @import "../node_modules/bootstrap/scss/bootstrap.scss";

// header start
header {
  position: relative;

  nav {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;

    .logo {
      display: flex;
      align-items: center;
      margin-left: 1em;

      .fa-solid {
        color: $color-one;
        font-size: 3em;
      }

      span {
        color: $color-one;
      }
    }

    .navigation {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        transition: 0.5s;

        li {
          list-style-type: none;

          a {
            text-decoration: none;
            color: black;
            display: block;
            text-transform: uppercase;
            padding: 40px 25px;
            font-size: 20px;
            line-height: 1;
            transition: 0.3s;
          }
        }

        li a:hover {
          box-shadow: 0 -5px 0 #fff inset,
            700px 0 0 rgba(36, 34, 34, 0.03) inset;
        }
      }

      .hambg {
        position: relative;
        width: 30px;
        height: 4px;
        background: black;
        border-radius: 10px;
        cursor: pointer;
        z-index: 2;
        transition: 0.3s;
      }

      .hambg:before,
      .hambg:after {
        content: "";
        position: absolute;
        height: 4px;
        right: 0;
        background: black;
        border-radius: 10px;
        transition: 0.3s;
      }

      .hambg:before {
        top: -10px;
        width: 20px;
      }

      .hambg:after {
        top: 10px;
        width: 25px;
      }

      .toggle-menu {
        position: absolute;
        width: 30px;
        height: 100%;
        z-index: 3;
        cursor: pointer;
        opacity: 0;
      }

      .hambg,
      .toggle-menu {
        display: none;
      }

      input:checked ~ .hambg {
        background: transparent;
      }

      input:checked ~ .hambg:before {
        top: 0;
        transform: rotate(-45deg);
        width: 30px;
      }

      input:checked ~ .hambg:after {
        top: 0;
        transform: rotate(45deg);
        width: 30px;
      }

      input:checked ~ .menu {
        right: 0;
        box-shadow: -20px 0 40px rgba(0, 0, 0, 0.3);
      }
    }
  }
}
// header end

// main start
main {
  min-height: calc(100vh - 70px);

  // hero section
  .hero {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(201, 231, 227);

    .intro {
      color: black;
      font-weight: bold;

      p {
        margin-top: 1em;
        font-size: 30px;
      }
    }

    h1 {
      font-size: 50px;
      text-transform: uppercase;
      letter-spacing: 0.2em;
    }

    h3 {
      text-transform: uppercase;
      margin-top: 1em;
      font-size: 30px;
      letter-spacing: 0.1em;
    }
  }

  //   about section

  .about-me {
    min-height: 100vh;
    padding-top: 7rem;

    .pic {
      text-align: center;
    }

    h2 {
      font-size: 2em;
      margin-bottom: 0.5em;
    }

    p {
      font-size: 1.5em;
    }

    .profile {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 2rem;
      flex-wrap: wrap;
      border: 1px solid grey;
      background-color: rgb(184, 232, 232);
      box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
      gap: 1em;

      .me {
        @include myinfo;
        margin: 2em 0;
      }

      .program {
        @include myinfo;
        margin: 2em 0 1em;
      }
    }
    .next {
      text-align: center;
      font-size: 3em;
    }
  }

  // projects

  .project {
    min-height: 100vh;
    padding-top: 6em;

    h2 {
      text-align: center;
      font-size: 2em;
      padding-top: 1em;
    }

    .future-projects {
      display: flex;
      justify-content: center;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 1em;
      padding-top: 4em;

      h3 {
        font-size: 1.5em;
        margin-bottom: 0.5em;
      }
      p {
        font-size: 1.5em;
      }

      .tutor-web {
        @include myprojects;
        border-top-left-radius: 2em;
        border-bottom-right-radius: 2em;
      }
      .swahili-app {
        @include myprojects;
        border-top-right-radius: 2em;
        border-bottom-left-radius: 2em;
        background-color: rgb(205, 248, 244);
      }
    }
  }

  //   contact section

  .my-contact {
    min-height: 100vh;
    margin-top: 2em;
    background: rgb(205, 248, 244);
    flex-wrap: wrap;

    h2 {
      text-align: center;
      padding-top: 2em;
      font-size: 50px;
    }
    .contact-container {
      display: flex;

      justify-content: center;
      align-items: center;
      padding: 1em;
      flex-wrap: wrap;

      form {
        // background-color: white;
        width: 700px;
        height: 600px;
        max-width: 90%;
        border-radius: 3em;
        padding: 2em;
        color: black;
        font-weight: bold;

        .title {
          text-transform: uppercase;
          letter-spacing: 1em;
          border-bottom: 1px solid white;
          display: inline-block;
          padding-bottom: 1em;
          margin-bottom: 1em;
        }

        .half {
          display: flex;
          justify-content: space-between;

          .item {
            display: flex;
            flex-direction: column;
            margin-bottom: 1em;
            width: 45%;

            input {
              border-radius: 5px;
              border: 1px solid black;
              outline-color: grey;
              padding: 15px;
              width: 100%;
              height: 40%;
              background: transparent;
            }
          }
        }

        label {
          display: block;
          font-size: 17px;
          letter-spacing: 3px;
          margin-bottom: 1em;
        }

        .full {
          margin-bottom: 20px;

          textarea {
            background: transparent;
            border-radius: 5px;
            border: 1px solid black;
            outline: 0;
            padding: 10px;
            width: 100%;
            height: 200px;
          }
        }

        .action {
          margin-bottom: 20px;

          input {
            background: transparent;
            border-radius: 5px;
            border: 1px solid white;
            cursor: pointer;
            font-size: 1.5em;
            font-weight: bold;
            height: 40px;
            width: 90px;
            outline: 0;
            padding: 5px;
          }
        }

        .action input[type="submit"] {
          background: black;
          color: white;
        }

        .action input:hover {
          background-color: $color-one;
        }

        .item input:focus,
        textarea:focus:hover {
          background-color: rgb(203, 198, 198);
        }
      }

      h4 {
        text-align: center;
        font-size: 3em;
      }
    }
    .top {
      text-align: center;
      font-size: 3em;
    }
  }

  .contactinfo {
    display: flex;
    justify-content: center;

    .contact2 {
      letter-spacing: 2px;
      padding: 2em;

      address {
        font-size: 30px;
      }

      h3 {
        font-size: 20px;
        color: $color-one;
        font-weight: bold;
        text-transform: uppercase;

        .fa-brands {
          color: green;
          font-size: 1.5em;
        }
      }

      p {
        font-size: 30px;
        margin-bottom: 1em;
      }
    }
  }
}

footer {
  background-color: black;
  color: white;
  font-weight: bold;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .copyright {
    margin-left: 1em;
    font-size: 1.5em;
  }

  .icon {
    font-size: 2em;

    ul {
      li {
        display: inline-block;
        list-style-type: none;
        margin-right: 1em;
        a {
          color: white;
        }
      }
    }
    a:hover {
      color: $color-one;
    }
  }
}

@media screen and (max-width: 700px) {
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .my-contact {
    .contact-container {
      min-height: 100vh;
      form {
        width: 100%;
        .half {
          flex-direction: column;
        }
      }
    }
  }

  .about-me {
    .profile {
      min-height: 100vh;
      .program {
        min-height: 100vh;
        overflow: scroll;
      }
    }
  }

  .project {
    h2 {
      padding-top: 2em;
    }
    .future-projects {
      .tutor-web,
      .swahili-app {
        min-height: 100vh;
      }
    }
  }
}

// hambuger
@media screen and (max-width: 800px) {
  .hero {
    .intro {
      padding-left: 2em;
    }
  }
  header {
    nav {
      .navigation {
        .hambg,
        .toggle-menu {
          display: block;
          background: $color-one;
        }

        .menu {
          justify-content: start;
          flex-direction: column;
          align-items: center;
          position: fixed;
          top: 0;
          right: -300px;
          background: rgb(205, 248, 244);
          width: 300px;
          height: 60vh;
          padding-top: 30px;

          li {
            width: 100%;
          }
          li a,
          li a:hover {
            padding: 30px;
            font-size: 20px;
          }
        }
      }
    }
  }

  .my-contact {
    .contact-container {
      min-height: 100vh;

      .contact2 {
        padding: 1em 0 2em 1em;

        address {
          font-size: 20px;
        }

        h3 {
          font-size: 15px;
        }
      }
    }
  }

  footer {
    .copyright {
      font-size: 0.8em;
    }
  }
}
