@import "base";
// @import "../node_modules/bootstrap/scss/bootstrap.scss";

// header start
header {
  nav {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    .logo {
      display: flex;
      align-items: center;

      .fa-solid {
        color: red;
        font-size: 3em;
      }

      span {
        color: red;
      }
    }

    ul {
      li {
        display: inline-block;
        align-items: center;

        a {
          text-decoration: none;
          color: black;
          margin-right: 1em;
          font-size: 2em;
          font-weight: bolder;
        }
      }
    }
    a:hover {
      padding: 0.2em;
      background-color: black;
      color: white;
      border-radius: 0.1em;
    }
  }
}
// header end

// main start
main {
  min-height: 100vh;
  // min-height: calc(100vh - 80px - 65px);

  // hero section
  .hero {
    .bg-img {
      background-image: url(./images/bckg.jpeg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 100vh;
      filter: blur(5);
    }

    .intro {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
      width: 50%;
      padding: 40px 0;
      text-align: center;
      // border-top-right-radius: 50px;
      // border-bottom-left-radius: 50px;

      // background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      font-weight: bold;
      // border: 10px solid white;

      p {
        margin-top: 1em;
        font-size: 30px;
      }
    }

    h1 {
      font-size: 50px;
      text-transform: uppercase;
    }

    h3 {
      text-transform: uppercase;
      margin-top: 1em;
      font-size: 30px;
    }
  }

  //   about section

  .about-me {
    min-height: 100vh;
    border-bottom: 1px solid red;
    background-color: rgb(184, 232, 232);

    .pic {
      text-align: center;
      padding-top: 2rem;
    }

    h2 {
      font-size: 2em;
      margin-bottom: 0.5em;
    }

    p {
      font-size: 1.5em;
    }

    .profile {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 2rem;
      flex-wrap: wrap;
      border: 1px solid grey;
      box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
      gap: 1em;
      // background-color: rgb(0, 217, 255);

      .me {
        width: 500px;
        height: 500px;
        padding: 2rem;
        border: 1px solid grey;
        margin: 2em 0;
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
        border-radius: 2em;
        background-color: white;
      }

      .program {
        width: 500px;
        height: 500px;
        padding: 2rem;

        border: 1px solid grey;
        margin: 2em 0 1em;
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
        border-radius: 2em;
        background-color: white;
      }
    }
  }

  //   contact section

  .my-contact {
    min-height: 100vh;
    // background-image: url(./images/koksche.png);
    // background-repeat: no-repeat;
    // background-size: 30%;
    // background-position: top left;

    h2 {
      text-align: center;
      padding-top: 1em;
      font-size: 50px;
    }
    .contact-container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 5em;
      flex-wrap: wrap;

      form {
        // background-color: rgba(27, 31, 34, 0.865);
        background-color: rgb(170, 167, 167);
        width: 700px;
        height: 600px;
        // margin: 70px auto;
        max-width: 90%;
        border-radius: 3em;
        padding: 2em;
        color: black;
        font-weight: bold;

        .title {
          text-transform: uppercase;
          letter-spacing: 1em;
          border-bottom: 1px solid white;
          display: inline-block;
          padding-bottom: 1em;
          margin-bottom: 1em;
        }

        .half {
          display: flex;
          justify-content: space-between;

          .item {
            display: flex;
            flex-direction: column;
            margin-bottom: 1em;
            width: 45%;

            input {
              border-radius: 5px;
              border: 1px solid white;
              outline-color: grey;
              padding: 15px;
              width: 100%;
              height: 40%;
              background: transparent;
            }
          }
        }

        label {
          display: block;
          font-size: 17px;
          letter-spacing: 3px;
          margin-bottom: 1em;
        }

        .full {
          margin-bottom: 20px;

          textarea {
            background: transparent;
            border-radius: 5px;
            border: 1px solid white;
            outline: 0;
            padding: 10px;
            width: 100%;
            height: 300px;
          }
        }

        .action {
          margin-bottom: 20px;

          input {
            background: transparent;
            border-radius: 5px;
            border: 1px solid white;
            cursor: pointer;
            font-size: 1.5em;
            font-weight: bold;
            height: 40px;
            width: 90px;
            outline: 0;
            padding: 5px;
          }
        }

        .action input[type="submit"] {
          background: black;
          color: white;
        }

        .action input:hover {
          background-color: red;
        }

        .item input:focus,
        textarea:focus:hover {
          background-color: grey;
        }
      }

      h4 {
        text-align: center;
        font-size: 3em;
      }

      .contact2 {
        address {
          // margin-top: 6em;
          font-size: 3em;
        }

        p {
          font-size: 20px;
        }

        .fa-solid {
          font-size: 2em;
          color: black;
          margin: 1em;
        }
      }
    }
  }
}

footer {
  background-color: black;
  color: white;
  font-weight: bold;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .copyright {
    margin-left: 1em;
    font-size: 1.5em;
  }

  .icon {
    font-size: 2em;

    ul {
      li {
        display: inline-block;
        list-style-type: none;
        margin-right: 1em;
        a {
          color: white;
          margin-left: 2em;
        }
      }
    }
    a:hover {
      color: red;
    }
  }
}

@media screen and (max-width: 500px) {
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  form {
    .half {
      flex-direction: column;

      .item input {
        width: 100%;
      }
    }
  }

  .profile {
    .program {
      // overflow-x: hidden;
      min-height: 100vh;
    }
  }
}
