@import "base";
// @import "../node_modules/bootstrap/scss/bootstrap.scss";

// header start
header {
  background-color: aqua;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    display: flex;
    align-items: center;
    margin-left: 1em;

    .fa-solid {
      color: red;
      font-size: 3em;
    }

    span {
      color: red;
    }
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu {
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      transition: 0.5s;

      li {
        list-style-type: none;

        a {
          text-decoration: none;
          color: red;
          display: block;
          text-transform: uppercase;
          padding: 40px 25px;
          font-size: 20px;
          line-height: 1;
          transition: 0.3s;
        }
      }

      li a:hover {
        box-shadow: 0 -5px 0 #fff inset, 700px 0 0 rgba(36, 34, 34, 0.03) inset;
      }
    }

    .hambg {
      position: relative;
      width: 30px;
      height: 4px;
      background: white;
      border-radius: 10px;
      cursor: pointer;
      z-index: 2;
      transition: 0.3s;
    }

    .hambg:before,
    .hambg:after {
      content: "";
      position: absolute;
      height: 4px;
      right: 0;
      background: white;
      border-radius: 10px;
      transition: 0.3s;
    }

    .hambg:before {
      top: -10px;
      width: 20px;
    }

    .hambg:after {
      top: 10px;
      width: 25px;
    }

    .toggle-menu {
      position: absolute;
      width: 30px;
      height: 100%;
      z-index: 3;
      cursor: pointer;
      opacity: 0;
    }

    .hambg,
    .toggle-menu {
      display: none;
    }

    input:checked ~ .hambg {
      background: transparent;
    }

    input:checked ~ .hambg:before {
      top: 0;
      transform: rotate(-45deg);
      width: 30px;
    }

    input:checked ~ .hambg:after {
      top: 0;
      transform: rotate(45deg);
      width: 30px;
    }

    input:checked ~ .menu {
      right: 0;
      box-shadow: -20px 0 40px rgba(0, 0, 0, 0.3);
    }
  }
}
// header end

// main start
main {
  min-height: 100vh;
  // min-height: calc(100vh - 80px - 65px);

  // hero section
  .hero {
    .bg-img {
      background-image: url(./images/bckg.jpeg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 100vh;
      filter: blur(5);
    }

    .intro {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
      width: 50%;
      padding: 40px 0;
      text-align: center;
      color: #fff;
      font-weight: bold;

      p {
        margin-top: 1em;
        font-size: 30px;
      }
    }

    h1 {
      font-size: 50px;
      text-transform: uppercase;
    }

    h3 {
      text-transform: uppercase;
      margin-top: 1em;
      font-size: 30px;
    }
  }

  //   about section

  .about-me {
    min-height: 100vh;
    border-bottom: 1px solid red;
    background-color: rgb(184, 232, 232);

    .pic {
      text-align: center;
      padding-top: 2rem;
    }

    h2 {
      font-size: 2em;
      margin-bottom: 0.5em;
    }

    p {
      font-size: 1.5em;
    }

    .profile {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 2rem;
      flex-wrap: wrap;
      border: 1px solid grey;
      box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
      gap: 1em;
      // background-color: rgb(0, 217, 255);

      .me {
        width: 500px;
        height: 500px;
        padding: 2rem;
        border: 1px solid grey;
        margin: 2em 0;
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
        border-radius: 2em;
        background-color: white;
      }

      .program {
        width: 500px;
        height: 500px;
        padding: 2rem;

        border: 1px solid grey;
        margin: 2em 0 1em;
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
        border-radius: 2em;
        background-color: white;
      }
    }
    .next {
      text-align: center;
      font-size: 3em;
    }
  }

  //   contact section

  .my-contact {
    min-height: 100vh;
    background: rgb(200, 195, 195);

    h2 {
      text-align: center;
      padding-top: 1em;
      font-size: 50px;
    }
    .contact-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 5em;
      flex-wrap: wrap;

      form {
        background-color: rgb(173, 210, 210);
        width: 700px;
        height: 600px;
        max-width: 90%;
        border-radius: 3em;
        padding: 2em;
        color: black;
        font-weight: bold;

        .title {
          text-transform: uppercase;
          letter-spacing: 1em;
          border-bottom: 1px solid white;
          display: inline-block;
          padding-bottom: 1em;
          margin-bottom: 1em;
        }

        .half {
          display: flex;
          justify-content: space-between;

          .item {
            display: flex;
            flex-direction: column;
            margin-bottom: 1em;
            width: 45%;

            input {
              border-radius: 5px;
              border: 1px solid black;
              outline-color: grey;
              padding: 15px;
              width: 100%;
              height: 40%;
              background: transparent;
            }
          }
        }

        label {
          display: block;
          font-size: 17px;
          letter-spacing: 3px;
          margin-bottom: 1em;
        }

        .full {
          margin-bottom: 20px;

          textarea {
            background: transparent;
            border-radius: 5px;
            border: 1px solid black;
            outline: 0;
            padding: 10px;
            width: 100%;
            height: 200px;
          }
        }

        .action {
          margin-bottom: 20px;

          input {
            background: transparent;
            border-radius: 5px;
            border: 1px solid white;
            cursor: pointer;
            font-size: 1.5em;
            font-weight: bold;
            height: 40px;
            width: 90px;
            outline: 0;
            padding: 5px;
          }
        }

        .action input[type="submit"] {
          background: black;
          color: white;
        }

        .action input:hover {
          background-color: red;
        }

        .item input:focus,
        textarea:focus:hover {
          background-color: white;
        }
      }

      h4 {
        text-align: center;
        font-size: 3em;
      }

      .contact2 {
        letter-spacing: 2px;
        address {
          font-size: 30px;
        }
        h3 {
          font-size: 20px;
          color: red;
          font-weight: bold;
          text-transform: uppercase;
        }

        p {
          font-size: 30px;
          margin-bottom: 1em;
        }
      }
    }
    .top {
      text-align: center;
      font-size: 3em;
    }
  }
}

footer {
  background-color: black;
  color: white;
  font-weight: bold;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .copyright {
    margin-left: 1em;
    font-size: 1.5em;
  }

  .icon {
    font-size: 2em;

    ul {
      li {
        display: inline-block;
        list-style-type: none;
        margin-right: 1em;
        a {
          color: white;
          margin-left: 2em;
        }
      }
    }
    a:hover {
      color: red;
    }
  }
}

@media screen and (max-width: 500px) {
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  form {
    .half {
      flex-direction: column;

      .item input {
        width: 100%;
      }
    }
  }

  .profile {
    .program {
      // overflow-x: hidden;
      min-height: 100vh;
    }
  }

  .contact2 {
    margin-bottom: 2em;
  }
}

// hambuger
@media screen and (max-width: 800px) {
  header {
    padding: 10px 20px;
    .navigation {
      .hambg,
      .toggle-menu {
        display: block;
        background: red;
      }

      .menu {
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        right: -300px;
        background: aqua;
        width: 200px;
        height: 35%;
        padding-top: 65px;

        li {
          width: 100%;
        }
        li a,
        li a:hover {
          padding: 30px;
          font-size: 20px;
        }
      }
    }
  }
}
